/* app.css */

/* Global styles for layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a altura mínima ocupe 100% da tela */
}

.App-main {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
}
